@font-face {
    font-family: '1979 Dot Matrix';
    src: url('1979-Dot-Matrix.eot');
    src: url('1979-Dot-Matrix.eot?#iefix') format('embedded-opentype'),
        url('1979-Dot-Matrix.woff2') format('woff2'),
        url('1979-Dot-Matrix.woff') format('woff'),
        url('1979-Dot-Matrix.ttf') format('truetype'),
        url('1979-Dot-Matrix.svg#1979-Dot-Matrix') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

