@font-face {
    font-family: 'LED Counter 7';
    src: url('LEDCounter7.eot');
    src: url('LEDCounter7.eot?#iefix') format('embedded-opentype'),
        url('LEDCounter7.woff2') format('woff2'),
        url('LEDCounter7.woff') format('woff'),
        url('LEDCounter7.ttf') format('truetype'),
        url('LEDCounter7.svg#LEDCounter7') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

